In [60]:
import pandas as pd
import re

In [61]:
data = pd.read_csv("../../../data/raw/toxicity/twitter.csv", index_col=0)

In [62]:
data.head()

,count,hate_speech,offensive_language,neither,class,tweet
0,3,0,0,3,2,!!! RT @mayasolovely: As a woman you shouldn't...
1,3,0,3,0,1,!!!!! RT @mleew17: boy dats cold...tyga dwn ba...
2,3,0,3,0,1,!!!!!!! RT @UrKindOfBrand Dawg!!!! RT @80sbaby...
3,3,0,2,1,1,!!!!!!!!! RT @C_G_Anderson: @viva_based she lo...
4,6,0,6,0,1,!!!!!!!!!!!!! RT @ShenikaRoberts: The shit you...

In [63]:
def clean_tweet(text: str) -> str:
    if not isinstance(text, str):
        return text
    # remove triple quotes
    text = re.sub(r'"+', "", text)
    
    # remove @mentions and http links
    text = re.sub(r"@\w+", "", text)
    text = re.sub(r"http\S+", "", text)
    
    # remove anything that starts with & or !
    text = re.sub(r"&+\S*", "", text)
    text = re.sub(r"!+\S*", "", text)

    # remove extra spaces and other random weird inclusions
    text = re.sub(r"RT", "", text)
    text = re.sub(r"\s+", " ", text).strip()
    
    return text

In [64]:
len(data[data.duplicated() == 1])

0

In [65]:
data["text"] = data["tweet"].apply(clean_tweet)

In [66]:
data["unsafe_label"] = 1 # all of them are unsafe
data = data[["text", "unsafe_label"]]
data.head()

                                                text  unsafe_label
0  : As a woman you shouldn't complain about clea...             1
1  : boy dats cold...tyga dwn bad for cuffin dat ...             1
2  Dawg : You ever fuck a bitch and she start to ...             1
3                           : she look like a tranny             1
4  : The shit you hear about me might be true or ...             1

In [67]:
len(data)

24783

In [68]:
duplicate_mask = data.duplicated(keep=False)
data[duplicate_mask]

                                                    text  unsafe_label
269         : Yo bitch is Gucci Mane : My bitch a stoner             1
348       : When twitter rappers dm me their trash links             1
572                               These hoes ain't loyal             1
891    #porn,#android,#iphone,#ipad,#sex,#xxx, | #Des...             1
892    #porn,#android,#iphone,#ipad,#sex,#xxx, | #Des...             1
...                                                  ...           ...
24869                                              pussy             1
24929                                      shut up bitch             1
24980                                       stupid bitch             1
25071                                         this bitch             1
25120                                              trash             1

[501 rows x 2 columns]

In [69]:
data.drop_duplicates(inplace=True)

In [70]:
data.duplicated().sum()

np.int64(0)

In [71]:
data.to_csv("../../../data/cleaned/twitter_clean.csv", index=False)